#wrap {
	width: 95%;
	height: 65%;
	margin: 0 auto;
	box-shadow:
		4px 4px 1px 2px #555,
		9px 9px 0px 3px #777
	;
	background-color: #333;
}

p {
	color: #ccc;
	text-shadow: #666666 -2px -1px 1px;
	width: 40%;
	height: 30%;
	padding: 10px;
	background: #444;
	margin: 0 auto;
	text-align: center;
	border-top: 4px solid #777;
}